body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 98%;
  max-width: 1000px;
  /* height: 100vh; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
h1 {
  font-size: 3.5rem;
  color: #111111;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  margin: 0 0 20px 0;
  height: 90px;
  display: flex;
  align-items: center;
}

h1 span:nth-child(2) {
  color: white;
  background-color: #111111;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 20px;
  font-weight: 500;
}
p#slogan {
  font-size: 1.2rem;
  color: #868686;
  text-align: center;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 0 0 75px 0;
}

main > div#search {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 60px;
  border-radius: 50px;
  margin-bottom: 100px;
  overflow: hidden;
  /* box-shadow:  5px 5px 10px #cecece90,
                -5px -5px 10px #ffffff90; */
}
main > div#search > input {
  width: calc(100% - 200px);
  height: 100%;
  background: none;
  border: none;
  padding: 0;
  padding-left: 40px;
  font-size: 1.1rem;
  background-color: #f5f5f5;
}
main > div#search > button {
  width: 200px;
  height: 100%;
  background: none;
  border: none;
  border-left: none;
  background-color: #222222;
  color: white;
  font-family: poppins, sans-serif;
  font-size: 1.1rem;
  transition: all 0.15s ease-in-out;
}
main > div#search > button:hover {
  background-color: #111111;
  cursor: pointer;
}
input:focus {
  outline: none;
}
main > div#body-mid {
  width: 90%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 40px;
}

main > div#body-mid > a.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #d6d6d6, -5px -5px 10px #ffffff;
  text-decoration: none;
  color: #111111;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
}
.suggestion-box {
      background: #f5f5f5;
    /* border: 1px solid #ccc; */
    border-top: none;
    overflow-y: auto;
    position: absolute;
    z-index: 10;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 0 0 50px 50px;
    display: none;
    max-height: 500px;
}
.suggestion {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
}
.suggestion:hover {
  background: #eee;
}

.cards:hover,.card-2:hover {
  transform: translateY(-5px) scale(1.02);
}
.cards:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.cards:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.cards:nth-child(3) {
  grid-area: 2 / 1 / 3 / 2;
}
.cards:nth-child(4) {
  grid-area: 2 / 2 / 3 / 3;
}
main > div#body-mid-2 {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 200px;
}
.card-2 {
      display: flex
;
    align-items: flex-start;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 5px 5px 10px #d6d6d6, -5px -5px 10px #ffffff;
    text-decoration: none;
    color: #111111;
    min-height: 300px;
    width: 48%;
    transition: all 0.2s ease-in-out;
    margin: 1%;
    padding: 40px 40px 19px 20px;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.card-2 > .card-d {
  font-size: 1.1rem;
  margin: 0 0 20px 20px;
}
.card-2 > .card-d:nth-child(2){
  margin-block: 20px;
  line-height: 2;
  border-block: 1px solid #e2e2e2;
  /* background-color:  #fafafa; */
  padding-inline: 5px;
  user-select:text;

}
.card-2 > .card-d > a {
    text-decoration: none;
    color: #111111;
    font-weight: 500;
    border-bottom: 0.5px solid #111111;
    margin: 0 5px;
    padding: 5px;
    transition: 0.1s ease-in-out;
    border-radius: 5px 5px 0 0;
}
.card-2 > .card-d > a:hover {
    background: #e7e7e7;
}
#home-btn{
      width: 30px;
    position: fixed;
    top: 20px;
    left: 20px;
    background: #eaeaea;
    padding: 10px;
    border-radius: 50px;
}

@media (max-width: 600px) {
  main > div#body-mid {
    grid-template-columns: 1fr;
grid-template-rows: repeat(4, 1fr);
margin-bottom: 50px;
  }
  main > div#body-mid-2 {
    flex-direction: column;
  }
  .card-2{
    width: 100%;
    margin: 0 0 20px 0;
    padding: 20px;
  }
  main > div#body-mid > a.cards {
    width: 100%;
    height: 200px;
    font-size: 1.2rem;
  }
  .cards:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.cards:nth-child(2) {
   grid-area: 2 / 1 / 3 / 2; 
}
.cards:nth-child(3) {
  grid-area: 3 / 1 / 4 / 2;
}
.cards:nth-child(4) {
  grid-area: 4 / 1 / 5 / 2;
}
  main > div#search > input {
    width: calc(100% - 100px);
  }
  main > div#search > button {
    width: 100px;
  }
  
}